# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Helm
charts/**/charts/

# Compose filesystem
/docker

# Traefik filesystem
config/traefik/logs/*
!config/traefik/logs/.gitkeep

config/traefik/ssl/*
!config/traefik/ssl/.gitkeep
